@model Shop.Models.Accounts.ResetPasswordViewModel;

@{
    ViewData["Title"] = "Reset Password";
}


<div class="bg-secondary rounded h-100 p-4 mt-4">
    <h6 class="mb-4">@ViewData["Title"]</h6>

    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>

        <input asp-for="UserId" type="hidden"/>
        <input asp-for="Token" type="hidden"/>

        <div class="form-group">
            <label asp-for="NewPassword"></label>
            <input asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">
            Submit
        </button>
    </form>
</div>