@model Shop.Models.Kindergartens.KindergartenDetailsViewModel;

@{
    ViewData["Title"] = "Kindergarten Details";
}

<h1>@ViewData["Title"]</h1>

<partial name="_KindergartenFields" model="Model"/>

<a asp-action="Index" asp-controller="Kindergarten" class="btn btn-primary">Back</a>