@model Shop.Models.DbFileViewModel;

<div class="form-group row col-sm-4 offset-2">
    <div>@Model.Title</div>
    <img class="card-img-top" src="/RealEstate/asset/@Model.ImageId" asp-append-version="true" />
</div>