@model Shop.Models.Spaceships.ImageViewModel;

<div class="form-group row p-4 bg-dark rounded mb-4 modal-open-image" style="max-width: 33vw;">
    <div>@Model.FilePath</div>
    <img class="card-image-top" src="@Model.FilePath" asp-append-version="true" />
</div>