@model Shop.Models.RealEstate.RealEstateDetailsViewModel;

@{
    ViewData["Title"] = "Real Estate Details";
}

<h1>@ViewData["Title"]</h1>

<partial name="_Fields" model="Model"/>

<a asp-action="Index" asp-controller="RealEstate" class="btn btn-primary">Back</a>