@model Shop.Models.RealEstate.RealEstateDetailsViewModel;

@{
    ViewData["Title"] = "Real Estate Details";
}


<h6 class="mb-4">@ViewData["Title"]</h6>

<partial name="_Fields" model="Model"/>

<a asp-action="Index" asp-controller="RealEstate" class="btn btn-primary">Back</a>