@{
    ViewData["Title"] = "Cocktails";
}

<div class="bg-secondary rounded h-100 p-4 mt-4">
    <h6 class="mb-4">Search</h6>

    <input class="form-control mb-4" id="search-in"/>

    <button class="btn btn-primary" onclick="onSearch()">
        Search
    </button>

    <button class="btn btn-primary" onclick="showSaved()">
        Show saved
    </button>
</div>

<div id="output">

</div>

<script src="~/js/cocktails.js"></script>